*{
    box-sizing: border-box;
}
ul{
    padding: 0;
}
body{
    background-color: black;
    text-align: center;
    position: relative;
}
img{
    width: 40px;
    height: 40px;
    z-index: 100;
}
.game{
margin: 0 auto;
background-image: url(./img/background.png);
width: 576px;
height: 324px;
background-size: contain;
background-repeat: no-repeat;
position: relative;
}
.game__header{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.start__button{
width: 40px;
height: 40px;
border: 2px solid black;
border-radius: 4px;
background-color: blanchedalmond;
margin-bottom: 10px;
cursor: pointer;
}
.game__timer{
background-color: white;
width: 50px;
height: 30px;
line-height: 2;
border: 2px solid black;
border-radius: 4px;
margin-bottom: 10px;
}
.game__score{
    background-color: white;
    width: 30px;
    height: 30px;
    line-height: 2;
    border: 2px solid black;
    border-radius: 50%
}
.game__field{
    height: 205px;
    position: relative;
}
.modal{ 
top: 0;
width: 576px;
height: 324px;
background-color: #10101059;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;
display: none;
left: calc(100%/2 - 289px);
z-index: 200;
}
.replay__button{
width: 50px;
height: 50px;
margin-bottom: 20px;

}
.modal__message{

}