*{
    box-sizing: border-box;
}
ul{
    padding: 0;
}
body{
    background-color: black;
    text-align: center;
    
}
.game{
    position: relative;
}
.game_main{
    background-image: url(./img/background.png);
    width: 576px;
    height: 324px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    z-index: 101;
} 
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 2;
    position: relative;
}
.start{
    margin-top: 10px;
    width: 100px;
    height: 50px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: blanchedalmond;
    cursor: pointer;
}
.start i {
    font-size: 18px;
}
.timer{
    margin-top: 10px;
    background-color: whitesmoke;
    width: 80px;
    height: 43px;
    line-height: 2;
    border: 3px solid black;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
}
.score{
    margin-top: 10px;
    background-color: whitesmoke;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 1.5;
    font-size: 18px;
    border: 3px solid black;
    font-weight: bold;
}
.bug{
    background-image: url(./img/bug.png);
    display: block;
    width: 50px;
    height: 50px;
    background-size: contain;
    z-index: 100;
}
.carrot{ 
    background-image: url(./img/carrot.png);
    display: block;
    width: 50px;
    height: 50px;
    background-size: contain;
    z-index: 100;
}
.win{
    background-color: #3e3c3c70;
    width: 350px;
    margin: 0 auto;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 30%;
    display: none;
    z-index: 1000; 
}
   
.result{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result_title{
    color: #fff;
}
.replay{
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 50%;


}
.replay i{
    font-size: 28px;
}
.c_b{
    width: 576px;
    height: 50%;
    position: absolute;
    z-index: 1;
}